<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.universe.study.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.universe.study.entity.Role">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getByUserId" resultType="com.universe.study.entity.Role" parameterType="java.lang.Integer">
        SELECT role.*
        FROM role,
             user_role
        WHERE #{id} = user_role.userId
          AND user_role.roleId = role.id;
    </select>
</mapper>